# Server
APP_HOST=0.0.0.0
APP_PORT=5000

# Bose / streaming
BOSE_IP=192.168.29.234
STREAM_URL=http://192.168.29.157:8000/mpv.ogg
STREAM_FALLBACK_URLS=http://192.168.29.229:8000/mpv.ogg,http://127.0.0.1:8000/mpv.ogg
PLAYLIST_DIR=/home/user/Music/playlists
ROOT_DIR = '/home/user/Music/'
# Feature defaults
LYRICS_ENABLED=false
AUTOPLAY_ENABLED=false


#Enter the proper API keys here. You can get them from the respective services' developer portals.
# External APIs
YOUTUBE_API_KEY=AI....  # get from https://console.developers.google.com/apis/credentials
MUSIC_ATLAS_KEY=29..... # get from https://musicatlas.ai/developer/docs#tag/Public-API