<div class="overlay" id="overlay" onclick="toggleMenu()"></div>

<nav>
    <div class="menu-toggle" onclick="toggleMenu()">☰</div>
    <h3 style="color:var(--spotify-green); margin-right:auto;">{{ page_title }}</h3>

    <div class="nav-settings">
        <div class="nav-setting">
            <label class="switch" for="lyricsToggle">
                <input type="checkbox" id="lyricsToggle" onchange="toggleLyrics()">
                <span class="slider"></span>
            </label>
            <label class="nav-setting-label" for="lyricsToggle">Lyrics</label>
        </div>

        <div class="nav-setting">
            <label class="switch" for="autoplayToggle">
                <input type="checkbox" id="autoplayToggle" onchange="toggleAutoplay()">
                <span class="slider"></span>
            </label>
            <label class="nav-setting-label" for="autoplayToggle">Autoplay</label>
        </div>
    </div>

    <div class="system-monitor">CPU: <span id="cpu-load">0%</span></div>
</nav>